@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/ng2-toastr/ng2-toastr.css';

@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins',
  '~bootstrap/scss/print',
  '~bootstrap/scss/reboot',
  '~bootstrap/scss/type',
  '~bootstrap/scss/close';


/* FIXED TOP HEADER */
body {
  padding-top: 4.5rem;
}

/* MODALS ALWAYS VISIBLES */
.modal {
  display: block;
  overflow:auto;
}
