<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-8 col-lg-4">
      <div class="text-center">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <div class="alert alert-danger mt-3" role="alert">
            Sorry, an error has occured, Requested page not found!
        </div>
        <div class="btn-group">
          <a href="/series" class="btn btn-secondary btn-lg">
            <span class="fa fa-home"></span>
            Take Me Home
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
